html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  width: 500px;
}

.boardSquare {
  margin: 1rem;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveIcon {
  font-size: 5rem;
}
